body {
  margin: 0;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 150px;
  background: url("https://images.unsplash.com/photo-1568901346375-23c9450c58cd?q=80&w=999&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center / cover;
}
